.usa-hero {
    color: #171716;
    background-image: none;
    padding-top: 1.5rem;
}
.ssa-hero {
    position: relative;
    z-index: 1;
    min-height: 30rem;
}
.usa-hero {
    font-family: Public Sans Web, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    font-size: 1rem;
    line-height: 1.6;
    padding-bottom: 2rem;
    background-position: center;
    background-size: cover;
}
*, ::after, ::before {
    box-sizing: inherit;
}
user agent stylesheet
section {
    display: block;
    unicode-bidi: isolate;
}
body {
    color: #171716;
    background-color: #fff;
    overflow-x: hidden;
}
html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
    font-family: Public Sans Web, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    font-size: 100%;
}
@media (min-width: 40em) {
    .ssa-hero::before {
        height: calc(100% - 7.5rem);
    }
}
.ssa-hero::after, .ssa-hero::before {
    display: block;
    width: 100%;
    content: "";
    position: absolute;
    top: 0;
    z-index: -1;
}
*, ::after, ::before {
    box-sizing: inherit;
}
@media (min-width: 40em) {
    .ssa-hero::after {
        background-image: url(/themes/custom/ssa_core/assets/img/ssa/hero-chevron-background-desktop.svg);
    }
}
.ssa-hero::after {
    background-image: url(/themes/custom/ssa_core/assets/img/ssa/hero-chevron-background-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    top: -1px;
}
.ssa-hero::after, .ssa-hero::before {
    display: block;
    width: 100%;
    content: "";
    position: absolute;
    top: 0;
    z-index: -1;
}

*, ::after, ::before {
    box-sizing: inherit;
}